html {
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#root,
.App,
.container,
body,
.home {
  height: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: lightgray;
}

.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#brief-container,
#brief,
.content {
  display: flex;
  grid-row: span 4;
}

#header {
  grid-column: span 12;
  grid-row: span 1;
  background-color: lightgray;
  display: flex;
  align-items: center;
  color: #4c5a68;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.nav-links li:hover {
  transform: scale(1.5);
  cursor: pointer;
  background-color: #b2b2b2;
}

.nav-active {
  transform: translateX(0%) !important;
}

.navstyle {
  color: #4c5a68;
  text-decoration: none;
}

#mobile-menu {
  display: none;
}

#mobile-menu i {
  cursor: pointer;
}
#brief {
  grid-column: span 4;
  background-color: #4c5a68;
  color: lightgray;
}

#brief-container {
  height: 70%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#name,
#intro,
#socials {
  width: 75%;
  text-align: center;
}
#name {
  font-size: 1.5rem;
}
#intro {
  list-style: square;
}

#socials {
  display: flex;
  justify-content: space-between;
}
#socials a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
}

#socials a:hover {
  cursor: pointer;
  transform: scale(2.5);
  background-color: #3c4651;
}

.content {
  grid-column: span 8;
  background-color: lightseagreen;
  color: white;
  align-items: center;
  justify-content: center;
}
.content-container {
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.5em;
}

.content-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.content-container img {
  height: 7em;
  border: 4px solid white;
}

#resume-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#resume-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#resume-details > * {
  padding: 1em;
  border: 1px solid white;
}
#contact-container {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  padding: 0.5em;
}
#unsupport {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .content-container {
    font-size: 1.2em;
  }
  .content-container img {
    height: 6.5em;
  }
  #resume-container {
    font-size: 0.8em;
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.75em !important;
  }
  .content-container {
    font-size: 1em;
  }
  #resume-container {
    height: 85%;
  }
}
@media only screen and (max-width: 550px) {
  .home {
    grid-template-rows: repeat(10, 1fr);
  }

  #header,
  .content,
  #brief {
    grid-column: span 12;
  }
  #header {
    order: 1;
    grid-row: span 1;
  }

  .content {
    order: 2;
    grid-row: span 6;
  }

  #brief {
    order: 3;
    grid-row: span 3;
  }

  .nav-links {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 10vh;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgray;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
  }
  .nav-links li {
    width: 75%;
  }
  .nav-links li:hover {
    transform: scale(1.2);
  }

  #mobile-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #mobile-menu i {
    padding-left: 20px;
  }
  #mobile-menu p {
    padding-left: 20px;
  }

  #brief-container {
    height: 100%;
  }
  #socials a {
    padding: 0.25rem;
  }
  .content-container {
    font-size: 0.9em;
  }
  #resume-container {
    font-size: 0.69em;
    overflow: auto;
  }
  h1 {
    font-size: 1.1em !important;
  }
}

@media only screen and (max-width: 370px) {
  .content-container {
    font-size: 0.7em;
  }
  #resume-container {
    font-size: 0.58em;
  }
}

@media only screen and (max-width: 230px) {
  #header,
  .content,
  #brief {
    display: none;
  }

  #unsupport {
    display: block;
  }
}
